{{!< default}}
<div class="site-main">

<header class="site-header">
	{{#if @blog.logo}}<a href="{{@blog.url}}"><img class="blog-logo" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
	{{#if @blog.title}}<h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>{{/if}}
	{{#if @blog.description}}<h2 class="blog-description">{{@blog.description}}</h2>{{/if}}
	
	{{navigation}}
</header>

<main class="site-content" role="main">

	<article class="{{post_class}}">

		{{#post}}
		
			{{! Add Open Graph tags to head}}
			{{#contentFor "meta"}}
				<meta property="og:description" content="{{excerpt characters="220"}}...">
			{{/contentFor}}

			<h1 class="post-title">{{{title}}}</h1>

			<section class="post-content">
				{{content}}
			</section>

		{{/post}}

	</article>

</main>
