{{!< default}}

<header class="site-header">
	{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
	{{#if @blog.title}}<h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>{{/if}}
	{{#if @blog.description}}<h2 class="blog-description">{{@blog.description}}</h2>{{/if}}
</header>

<main class="site-content" role="main">

	<article class="{{post_class}}">

		{{! Everything inside the #post tags pulls data from the post }}
		{{#post}}

			{{! Add Open Graph tags to head}}
			{{#contentFor "meta"}}
				<meta property="og:description" content="{{excerpt characters="220"}}...">
			{{/contentFor}}

			{{! Everything below outputs content of the the post which has been published }}

			<header class="post-header">
				<h1 class="post-title">{{title}}</h1>
				<span class="post-meta">Posted on <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMMM YYYY'}}</time></span>
			</header>

			<section class="post-content">
				{{content}}
			</section>

			<footer class="post-footer">
				{{#if author}}
					<section class="author-card cf">
						{{#if author.image}}
							<div class="author-image">
								<img src="{{author.image}}" alt="Author Image">
							</div>
						 {{/if}}
						<div class="author-text" {{#if author.image}}style="width: 65%; float: left;"{{/if}}>
							 {{#if author.name}}<span class="author-name">{{author.name}}</span>{{/if}}
							 {{#if author.website}}<a href="{{author.website}}" class="author-website" rel="author">Website</a>{{/if}}
							 {{#if author.bio}}<p class="author-bio">{{author.bio}}</p>{{/if}}
						 </div>
					</section>
				{{/if}}

				{{#if tags}}
					<div class="post-tags">Tagged with: {{tags separator=", "}}</div>
				{{/if}}
			</footer>
		{{/post}}
	</article>

</main>